.card__container {
    border: 1px solid #D7D7D7;
    background: white;
    padding: clamp(1rem, 0.5vw, 1.6rem);
    border-radius: 1.5em;
    display: grid;
    place-items: center;
    cursor: pointer;
    width: 100%;
    
    .card__image__container {
        border-radius: 1.5em;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        
        .card__image {
            aspect-ratio: calc(260/265);
            border-radius: 1.5em;
            object-fit: cover;
            width: 100%;
        }

        .card__heart {
            position: absolute;
            top: 1rem;
            right: 1rem;
            width: 2em;
            height: 2em;
        }
    }

    .card__info {
        padding-top: 1.5em;
        display: flex;
        flex-direction: column;
        gap: 1em;
        width: 100%;

        .top__section {
            font-size: clamp(1rem, 1vw, 1.6rem);
            display: flex;
            justify-content: space-between;

            .price {
                font-weight: 600;

                &::after {
                    content: " per night"
                }
            }
        }

        .bottom__section {
            font-size: clamp(1rem, 1vw, 1.3rem);
            display: flex;
            justify-content: space-between;

            .distance {

                &::after {
                    content: 'km away';
                }
            }

            .availability {

                &::before {
                    content: 'available for ';
                }

                &::after {
                    content: ' stay';
                }
            }
        }

        .rating {
            display: flex;
            gap: 0.5em;
            align-items: center;

            .star__image__container {
                min-width: 15px;

                .star__image {
                    object-fit: contain;
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .card__container {
        .card__info {
            .top__section {
                font-size: 1.5rem;
            }

            .bottom__section {
                font-size: clamp(1.1rem, 1vw, 1.3rem);
            }
        }
    }
}

@media screen and (max-width: 550px) {
    .card__container {
        .card__info {
            .top__section {
                font-size: 1.3rem;
            }

            .bottom__section {
                font-size: clamp(1rem, 1vw, 1.3rem);
            }
        }
    }
}

@media screen and (max-width: 680px) {
    .card__container {
        max-width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .card__container {
        max-width: 100%;

        .card__info {
            .top__section {
                font-size: 1.6rem;
            }

            .bottom__section {
                font-size: 1.5rem;
            }
        }
    }
}