@import './colors.scss';

.partner__banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
    background-color: $primary-major;

    .partner__img__container {
        width: clamp(40px, 25vw, 170px);
        
        img {
            object-fit: contain;
            width: 100%;
        }
    }
}