@import './colors.scss';

.partner__banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
    background-color: $primary-major;

    .partner__img__container {
        width: clamp(40px, 25vw, 170px);

        img {
            object-fit: contain;
            width: 100%;
        }
    }
}

.main__content {
    margin-bottom: 3em;

    .inspiration__title {
        margin-top: clamp(20px, 5vw, 58px);
        margin-bottom: clamp(20px, 5vw, 58px);
        font-size: clamp(24px, 5vw, 48px);
        text-align: center;
    }

    .card__grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
        padding: 0 10rem;
        gap: 2.4rem;
        justify-items: center;
    }
}

.learn__container {
    background-color: $primary-major;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    padding: 4.3rem 10rem;

    .learn__left {
        font-size: 1.8em;
        flex: 1 0 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .section__title {
            font-size: clamp(2.5em, 12vw,4em);
            font-weight: 600;
            margin-bottom: 3.5rem;
        }

        .section__paragraph {
            font-size: 1.3em;
            line-height: 3.5rem;
            margin-bottom: 3.5rem;
            max-width: 650px;
        }

        .learn__button__container {
            button {
                border: none;
                background-color: white;
                color: $primary-major;
                border-radius: 1rem;
                padding: 1.5rem 2.6rem;
                width: max-content;
                font-size: 1.6rem;
                font-family: 'Red Rose', cursive;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    .learn__right {
        flex: 1 0.5 350px;

        .learn__image__container {
            padding: 7em;
            width: 100%;
            height: 100%;

            img {
                object-fit: contain;
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .learn__container {
        padding: 2rem;

        .learn__left {
            min-width: 100%;
            text-align: center;
            margin-bottom: 2em;

            .section__paragraph {
                max-width: 100%;
            }

        }

        .learn__right {
            min-width: 100%;
            .learn__image__container {
                padding: 1rem;
                
                img {
                    object-fit: contain;
                    width: 100%;
                }
            }
        }
    }

    .main__content {
        .card__grid{
            padding: 2rem;
        }
    }
}

@media screen and (max-width: 768px) {
    .main__content {
        .card__grid {
            grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
        }
    }
}

@media screen and (max-width: 480px) {
    .main__content {
        .card__grid {
            grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        }
    }
}

@media screen and (max-width: 600px) {
    .main__content {
        .card__grid {
            padding: 0 1.5rem;
        }
    }
}